{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <form action="add_branch/" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3" id="branch_name_div">
            <span class="input-group-text" id="branch_name_label">지점명</span>
            <input type="text" class="form-control" placeholder="&quot;점&quot;을 제외한 지점명을 입력하세요" aria-label="지점명" id="branch_name" name="branch_name">
        </div>
        <div>
            <input type="hidden" name="next" value="{{ request.path }}">
        </div>
        <div id="branch_submit_div" class="col-12">
            <button type="submit" class="btn btn-primary" id="branch_submit">추가</button>
        </div>
    </form>
{% endblock %}