<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% load filters %}
{% load tags %}
{% block content %}
{{ object|get_object_name }}
{% get_field_verbose_name object|get_model_name "closure" %}
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">지점 정보</th>
            </tr>
        </thead>
        
        <tbody>
            {% for key, value in verbose_names.items %}
                <tr>
                    {% if key == "closure" %}
                        <th scope="row">{% get_field_verbose_name object|get_model_name key %}</th>
                        <td>{{ object.get_closure_display }}</td>
                    {% else %}
                        <th scope="row">{{ value }}</th>
                        <td>{{ object|get_attr:key }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% for object in hours %}
                <tr>
                    {% if object.is_holiday %}
                        <th scope="row">휴일 영업 시간</th>
                        <td>{{ object.open_time }} ~ {{ object.close_time }}<td>
                    {% else %}
                        <th scope="row">평일 영업 시간</th>
                        <td>{{ object.open_time }} ~ {{ object.close_time }}<td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'branches:branch_update' srl=object|get_attr:'srl' %}'">편집</button>
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'branches:timetable_init' branch=object|get_attr:'srl' is_holiday=False %}'">평일 시간표 초기화</button>
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'branches:timetable_init' branch=object|get_attr:'srl' is_holiday=True %}'">휴일 시간표 초기화</button>
    {% if object|get_attr:"closure" == False %}
        <button type="button" class="btn btn-danger" onclick="location.href='{% url 'branches:branch_shutdown' srl=object|get_attr:'srl' %}'">폐업</button>
    {% else %}
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'branches:branch_open' srl=object|get_attr:'srl' %}'">재개업</button>
    {% endif %}
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'branches:branch_list' %}'">지점 목록</button>
{% endblock %}