<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <table class="table table-hover table-bordered">
        {% if verbose_names %}
            <thead>
                <tr>
                    {% for name in verbose_names.values %}
                        {% if name == "폐업 여부" %}
                        {% elif name == "평일 개점 시간" %}
                            <th scope="col">평일 영업 시간</th>
                        {% elif name == "평일 폐점 시간" %}
                        {% elif name == "휴일 개점 시간" %}
                            <th scope="col">휴일 영업 시간</th>
                        {% elif name == "휴일 폐점 시간" %}
                        {% else %}
                            <th scope="col">{{ name }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
        {% endif %}
        {% if object_list %}
            <tbody class="table-group-divider">
                {% for object in object_list %}
                    {% if object.closure == False %}
                        <tr class="table-success" onclick="location.href='{% url 'branches:detail' srl=object.srl %}'">
                    {% elif object.closure == True %}
                        <tr class="table-danger" onclick="location.href='{% url 'branches:detail' srl=object.srl %}'">
                    {% else %}
                        <tr class="table-warning" onclick="location.href='{% url 'branches:detail' srl=object.srl %}'">
                    {% endif %}
                            <th scope="row">{{ object.srl }}</th>
                            <td>{{ object.name }}</td>
                            <td>{{ object.equipment_count }}</td>
                            <td>{{ object.postcode }}</td>
                            <td>{{ object.address1 }}</td>
                            <td>{{ object.address2 }}</td>
                            <td>{{ object.phone1 }}</td>
                            <td>{{ object.phone2 }}</td>
                            <td>{{ object.weekday_open_time }} ~ {{ object.weekday_close_time }}</td>
                            <td>{{ object.holiday_open_time }} ~ {{ object.holiday_close_time }}</td>
                            <td>{{ object.lesson_time }}</td>
                            <td>{{ object.break_time }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
{% endblock %}