{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <table class="table table-hover table-bordered">
        {% if field_names %}
            <thead>
                <tr>
                    {% for name in field_names %}
                        <th scope="col">{{ name }}</th>
                    {% endfor %}
                </tr>
            </thead>
        {% endif %}
        {% if branches %}
            <tbody class="table-group-divider">
                {% for row in branches %}
                    <tr>
                        {% for field, data in row.items %}
                            {% if field == "srl" %}
                                <th scope="row">{{ data }}</th>
                            {% else %}
                                <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
{% endblock %}