<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p class="fs-3 fw-bold">
                    {{ detail.0.branch }} 시간표
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-hover table-responsive text-center">
                    <thead>
                        <tr>
                            <th colspan="3">평일 시간표</th>
                        </tr>
                        <tr>
                            <th>교시</th>
                            <th>시작 시간</th>
                            <th>종료 시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if detail %}
                            {% for record in detail %}
                                <tr onclick="location.href='{% url 'branches:timetable_update' srl=record.srl %}'">
                                    {% if record.is_holiday == False %}
                                        <th scope="row">{{ record.period }}</th>
                                        <td>{{ record.start_time }}</td>
                                        <td>{{ record.end_time }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            
            <div class="col">
                <table class="table table-bordered table-hover table-responsive text-center">
                    <thead>
                        <tr>
                            <th colspan="3">휴일 시간표</th>
                        </tr>
                        <tr>
                            <th>교시</th>
                            <th>시작 시간</th>
                            <th>종료 시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if detail %}
                            {% for record in detail %}
                                <tr onclick="location.href='{% url 'branches:timetable_update' srl=record.srl %}'">
                                    {% if record.is_holiday == True %}
                                        <th scope="row">{{ record.period }}</th>
                                        <td>{{ record.start_time }}</td>
                                        <td>{{ record.end_time }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-end gap-2">
                <button type="button" class="btn btn-primary">편집</button>
                <button type="button" class="btn btn-primary">운영 중단</button>
                <button type="button" class="btn btn-primary">삭제</button>
                <button type="button"  class="btn btn-primary" onclick="location.href='{{ request.META.HTTP_REFERER }}'">이전</button>
            </div>
        </div>
    </div>
{% endblock %}