<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <table class="table table-hover table-bordered">
        {% if verbose_names %}
            <thead>
                <tr>
                    {% for name in verbose_names.values %}
                        {% if name != "휴일 여부" %}
                            <th scope="col">{{ name }}</th>
                        {% endif %}
                    {% endfor %}
                    <th scope="col">시간표 초기화</th>
                </tr>
            </thead>
        {% endif %}
        {% if object_list %}
            <tbody class="table-group-divider">
                {% for object in object_list %}
                    {% if object.is_holiday == False %}
                        <tr class="table-success">
                    {% elif object.is_holiday == True %}
                        <tr class="table-danger">
                    {% else %}
                        <tr class="table-warning">
                    {% endif %}
                            <th scope="row">{{ object.srl }}</th>
                            <td><a href="{% url 'timetables:detail' branch=object.branch.srl %}">{{ object.branch }}</a></td>
                            <td>{{ object.open_time }}</td>
                            <td>{{ object.close_time }}</td>
                            <td><button type="button" title="수업 시간 110분, 쉬는 시간 10분을 기준으로 기존 시간표를 삭제하고 시간표를 새로 생성 합니다." onclick="location.href='{% url 'timetables:init' branch=object.branch.srl is_holiday=object.is_holiday %}'">초기화</button></td>
                        </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
    <button type="button" onclick="location.href='{% url 'business_hours:add' %}'">추가</button>
    <button type="button" onclick="location.href='{{ request.META.HTTP_REFERER }}'">이전</button>
{% endblock %}