<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% block content %}
<form action="" method="POST" class="container d-grid gap-3 justify-content-evenly align-items-center">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
        <label class="col-3 col-form-label text-nowrap" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        <div class="col">{{ form.username }}</div>
        {{ form.username.errors }}
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-nowrap" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        <div class="col">{{ form.password }}</div>
        {{ form.password.errors }}
    </div>
    <button type="submit">로그인</button>
</form>
{% endblock %}