<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <table class="table table-hover table-bordered">
        {% if verbose_names %}
            <thead>
                <tr>
                    {% for name in verbose_names.values %}
                        <th scope="col">{{ name }}</th>
                    {% endfor %}
                </tr>
            </thead>
        {% endif %}
        {% if object_list %}
            <tbody class="table-group-divider">
                {% for object in object_list %}
                    {% if object.is_active == False %}
                        <tr class="table-danger">
                    {% elif object.is_active == True %}
                        <tr class="table-success">
                    {% else %}
                        <tr class="table-warning">
                    {% endif %}
                            <th scope="row">{{ object.srl }}</th>
                            <td>{{ object.username }}</td>
                            <td>{{ object.full_name }}</td>
                            <td>{{ object.birthday }}</td>
                            <td>{{ object.get_gender_display }}</td>
                            <td>{{ object.phone }}</td>
                            <td>{{ object.branch }}</td>
                            <td>{{ object.get_license_type_display }}</td>
                            <td>{{ object.get_plan_type_display }}</td>
                            {% if object.staff == False %}
                                <td>부</td>
                            {% elif object.staff == True %}
                                <td>여</td>
                            {% else %}
                                <td>확인 불가</td>
                            {% endif %}
                            {% if object.superuser == False %}
                                <td>부</td>
                            {% elif object.superuser == True %}
                                <td>여</td>
                            {% else %}
                                <td>확인 불가</td>
                            {% endif %}
                            <td>{{ object.date_joined }}</td>
                            <td>{{ object.group }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
    <button type="button" onclick="location.href='{% url 'users:add' %}'">추가</button>
    <button type="button" onclick="location.href='{{ request.META.HTTP_REFERER }}'">이전</button>
{% endblock %}