{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Title and Favicon -->
        <title>{% if page_title %}{{ page_title }} - {% endif %}맹드라이브</title>
        <!-- <link rel="icon" type="image/x-icon" href="{% static 'main/img/pdmnu_logo.png' %}"> -->
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-2 navbar-nav">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="navbar-brand nav-link" href="{% url 'main:index' %}">
                                <img class="img-fluid" src="{% static 'main/img/maeng_logo.jpg' %}" alt="맹드라이브" aria-label="맹드라이브">
                            </a>
                        </li>
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'branches:index' %}">지점 관리</a>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'branches:index' %}">지점 목록</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'branches:add_branch' %}">지점 추가</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                
                <main class="col-10">
                    {% block content %}
                    {% endblock %}
                </main>
            </div>
        </div>
        
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>