<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% load is_int %}
{% load translate_gender %}
{% block content %}
    <table class="table table-bordered align-middle text-center">
        <thead>
            <tr>
                <th scope="col" colspan="8">{{ dates_of_week.0|date:"Y년 m월" }}</th>
            </tr>
            <tr>
                <th scope="col">교시</th>
                {% for date in dates_of_week %}
                    <th scope="col">{{ date|date:"d일 D" }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    {% for schedules in object %}
                        {% if schedules|is_int %}
                            <th scope="row">{{ schedules }}</td>
                        {% else %}
                            {% if schedules|length == 0 %}
                                <td></td>
                            {% elif schedules|length == 1  %}
                                <td>
                                    {% for schedule in schedules %}
                                        <a href="#{{ schedule.srl }}" title="{{ schedule.user.branch }}/{{ schedule.user.birthday|date:"ymd" }}/{{ schedule.user.gender|translate_gender_short }}">{{ schedule.user.name }}</a>
                                    {% endfor %}
                                </td>
                            {% elif schedules|length > 1  %}
                                <td>
                                    {% for schedule in schedules %}
                                        <a href="#{{ schedule.srl }}" title="{{ schedule.user.branch }}/{{ schedule.user.birthday|date:"ymd" }}/{{ schedule.user.gender|translate_gender_short }}">{{ schedule.user.name }}</a><br>
                                    {% endfor %}
                                </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'schedules:branch_week_schedule' branch=branch year=year week=week|add:"-1" %}'">지난 주</button>
    {% now "Y" as current_year %}
    {% now "W" as current_week %}
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'schedules:branch_week_schedule' branch=branch year=current_year week=current_week %}'">현재</button>
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'schedules:branch_week_schedule' branch=branch year=year week=week|add:"1" %}'">다음 주</button>
{% endblock %}