<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <form action="" method="POST" class="container d-grid gap-3 justify-content-evenly align-items-center">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
            <label class="col-3 col-form-label text-nowrap" for="{{ form.user.id_for_label }}">{{ form.user.label }}</label>
            <div class="col">{{ form.user }}</div>
            {{ form.user.errors }}
        </div>
        
        {% if user_list %}
            <datalist id="user-list">
                {% for user in user_list %}
                    <option value="{{ user.srl }}" label="{{ user }}">
                {% endfor %}
            </datalist>
        {% endif %}
        
        <div class="row">
            <label class="col-3 col-form-label text-nowrap" for="{{ form.branch.id_for_label }}">{{ form.branch.label }}</label>
            <div class="col">{{ form.branch }}</div>
            {{ form.branch.errors }}
        </div>
        
        <div class="row">
            <label class="col-3 col-form-label text-nowrap" for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
            <div class="col">{{ form.date }}</div>
            {{ form.date.errors }}
        </div>
        
        <div class="row">
            <label class="col-3 col-form-label text-nowrap" for="{{ form.period.id_for_label }}">{{ form.period.label }}</label>
            <div class="col">{{ form.period }}</div>
            {{ form.period.errors }}
        </div>
        
        <div class="row">
            <div class="col d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">저장</button>
            </div>
        </div>
    </form>
{% endblock %}